body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf5;
    color: #333;
}

header {
    background-color: #ff7f50;
    color: white;
    text-align: center;
    padding: 20px;
    
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a.ativo {
    text-decoration: none;
}

main {
    padding: 40px;
    text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.explorar-section {
    text-align: center;
    margin: 60px auto;
}

.pet-card {
    background-color: #fff;
    max-width: 320px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.pet-card:hover {
    transform: scale(1.02);
}

.pet-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.botoes button {
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.botoes button:hover {
    transform: scale(1.3);
}

#mensagem {
    margin-top: 20px;
    font-weight: bold;
    color: coral;
}

footer {
    text-align: center;
    background-color: coral;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}